// Colors

// Text
$sub-heading: #d89eff;
$chat-on-the-left: #9241c8;
$chat-on-the-right: #6e5d7e;
$placeholder-text: #c6cacd;
$main-heading: #3e2753;
$paragraph: #a39daa;
$message-background: #eee5f4;
$background: #fafafa;

// Gradient

$light-magenta: #e942ff;
$light-violet: #8838ff;

// Secondary
$white: #ffffff;
$app-background: #f5f3f7;
$radio-button-outline: #e570ff;

// Margin

$margin-phone-content: 8px